body{
    text-align: center;
    background-color: #b7a6a6;
}
header > h1{
    background-color: antiquewhite;
}
.card{
    width: 30%;
    border: 1px solid rgb(180, 164, 164);
    padding: 30px;
    background-color: #fff;
    margin: 30px;
}
.card-photo > img{
    max-width: 100%;
}