.container{
    color: #e4e4e4;
    background-color: black;
    font-size: 36px;
    text-align: center;
    padding: 24px;
    border: 2px solid red;
    margin-top: 24px;
    margin-bottom: 24px;
}